@import url("/docutils-style.css");
@import url("/project.css");

div#project-header {
  background-image: url("etc/header-nikko3.jpg");
  background-color: black;
}

div.important { 
  background-color: #FAC;
}
