# For Nabu tests
Options +ExecCGI

<IfModule mod_access.c>
   Order Allow,Deny
   Allow from all

   AuthType Basic
   AuthDBMType GDBM
   AuthDBMUserFile /home/blais/w.furius/webcache/nabu/passwddbm
   AuthDBMGroupFile /home/blais/w.furius/webcache/nabu/passwddbm
   AuthName "Nabu Restricted Access"
   Require valid-user
</IfModule>
